@tailwind base;
@layer base {
	strong {
		@apply font-extrabold;
	}
}
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "SummerVibesBold";
	src: url("../public/fonts/SummerVibes-Bold.otf");
}
@font-face {
	font-family: "SummerVibesLight";
	src: url("../public/fonts/SummerVibes-Light.otf");
}
@font-face {
	font-family: "SummerVibesRegular";
	src: url("../public/fonts/SummerVibes-Regular.otf");
}
@font-face {
	font-family: "SummerVibesSolid";
	src: url("../public/fonts/SummerVibes-Solid.otf");
}

@font-face {
	font-family: "Quicksand";
	src: url("../public/fonts/Quicksand-VariableFont_wght.ttf");
}
