@tailwind base;
@layer base {
  strong {
    @apply font-extrabold;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SummerVibesBold";
  src: url("../public/fonts/SummerVibes-Bold.otf");
}
@font-face {
  font-family: "SummerVibesLight";
  src: url("../public/fonts/SummerVibes-Light.otf");
}
@font-face {
  font-family: "SummerVibesRegular";
  src: url("../public/fonts/SummerVibes-Regular.otf");
}
@font-face {
  font-family: "SummerVibesSolid";
  src: url("../public/fonts/SummerVibes-Solid.otf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-VariableFont_wght.ttf");
}
@layer utilities {
  .clip-your-needful-style {
    clip-path: polygon(
      0% 0%,
      0% 82.5%,
      1.69492% 84.3293%,
      3.38983% 86.1385%,
      5.08475% 87.9078%,
      6.77966% 89.6179%,
      8.47458% 91.25%,
      10.1695% 92.7862%,
      11.8644% 94.2098%,
      13.5593% 95.505%,
      15.2542% 96.6578%,
      16.9492% 97.6555%,
      18.6441% 98.487%,
      20.339% 99.1435%,
      22.0339% 99.6176%,
      23.7288% 99.9041%,
      25.4237% 100%,
      27.1186% 99.9041%,
      28.8136% 99.6176%,
      30.5085% 99.1435%,
      32.2034% 98.487%,
      33.8983% 97.6555%,
      35.5932% 96.6578%,
      37.2881% 95.505%,
      38.9831% 94.2098%,
      40.678% 92.7862%,
      42.3729% 91.25%,
      44.0678% 89.6179%,
      45.7627% 87.9078%,
      47.4576% 86.1385%,
      49.1525% 84.3293%,
      50.8475% 82.5%,
      52.5424% 80.6708%,
      54.2373% 78.8616%,
      55.9322% 77.0922%,
      57.6271% 75.3821%,
      59.322% 73.75%,
      61.017% 72.2138%,
      62.7119% 70.7902%,
      64.4068% 69.495%,
      66.1017% 68.3422%,
      67.7966% 67.3446%,
      69.4915% 66.513%,
      71.1864% 65.8565%,
      72.8814% 65.3824%,
      74.5763% 65.0959%,
      76.2712% 65%,
      77.9661% 65.0959%,
      79.661% 65.3824%,
      81.3559% 65.8565%,
      83.0509% 66.513%,
      84.7458% 67.3446%,
      86.4407% 68.3422%,
      88.1356% 69.495%,
      89.8305% 70.7902%,
      91.5254% 72.2138%,
      93.2203% 73.75%,
      94.9153% 75.3821%,
      96.6102% 77.0922%,
      98.3051% 78.8616%,
      100% 80.6708%,
      100% 0%
    );
    shape-outside: polygon(
      0% 0%,
      0% 82.5%,
      1.69492% 84.3293%,
      3.38983% 86.1385%,
      5.08475% 87.9078%,
      6.77966% 89.6179%,
      8.47458% 91.25%,
      10.1695% 92.7862%,
      11.8644% 94.2098%,
      13.5593% 95.505%,
      15.2542% 96.6578%,
      16.9492% 97.6555%,
      18.6441% 98.487%,
      20.339% 99.1435%,
      22.0339% 99.6176%,
      23.7288% 99.9041%,
      25.4237% 100%,
      27.1186% 99.9041%,
      28.8136% 99.6176%,
      30.5085% 99.1435%,
      32.2034% 98.487%,
      33.8983% 97.6555%,
      35.5932% 96.6578%,
      37.2881% 95.505%,
      38.9831% 94.2098%,
      40.678% 92.7862%,
      42.3729% 91.25%,
      44.0678% 89.6179%,
      45.7627% 87.9078%,
      47.4576% 86.1385%,
      49.1525% 84.3293%,
      50.8475% 82.5%,
      52.5424% 80.6708%,
      54.2373% 78.8616%,
      55.9322% 77.0922%,
      57.6271% 75.3821%,
      59.322% 73.75%,
      61.017% 72.2138%,
      62.7119% 70.7902%,
      64.4068% 69.495%,
      66.1017% 68.3422%,
      67.7966% 67.3446%,
      69.4915% 66.513%,
      71.1864% 65.8565%,
      72.8814% 65.3824%,
      74.5763% 65.0959%,
      76.2712% 65%,
      77.9661% 65.0959%,
      79.661% 65.3824%,
      81.3559% 65.8565%,
      83.0509% 66.513%,
      84.7458% 67.3446%,
      86.4407% 68.3422%,
      88.1356% 69.495%,
      89.8305% 70.7902%,
      91.5254% 72.2138%,
      93.2203% 73.75%,
      94.9153% 75.3821%,
      96.6102% 77.0922%,
      98.3051% 78.8616%,
      100% 80.6708%,
      100% 0%
    );
  }
  .clip2 {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 72.01%,
      2% 71.91%,
      4% 71.61%,
      6% 71.12%,
      8% 70.42%,
      10% 69.55%,
      12% 68.48%,
      14% 67.25%,
      16% 65.85%,
      18% 64.3%,
      20% 62.61%,
      22% 60.79%,
      24% 58.86%,
      26% 56.82%,
      28% 54.71%,
      30% 52.53%,
      32% 50.29%,
      34% 48.03%,
      36% 45.75%,
      38% 43.47%,
      40% 41.21%,
      42% 39%,
      44% 36.83%,
      46% 34.74%,
      48% 32.73%,
      50% 30.83%,
      52% 29.04%,
      54% 27.39%,
      56% 25.88%,
      58% 24.53%,
      60% 23.34%,
      62% 22.34%,
      64% 21.51%,
      66% 20.87%,
      68% 20.43%,
      70% 20.19%,
      72% 20.14%,
      74% 20.3%,
      76% 20.66%,
      78% 21.21%,
      80% 21.96%,
      82% 22.89%,
      84% 24%,
      86% 25.28%,
      88% 26.73%,
      90% 28.32%,
      92% 30.05%,
      94% 31.9%,
      96% 33.87%,
      98% 35.92%,
      100% 38.06%
    );
  }
  .clip3 {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 72.01%,
      2% 71.91%,
      4% 71.61%,
      6% 71.12%,
      8% 70.42%,
      10% 69.55%,
      12% 68.48%,
      14% 67.25%,
      16% 65.85%,
      18% 64.3%,
      20% 62.61%,
      22% 60.79%,
      24% 58.86%,
      26% 56.82%,
      28% 54.71%,
      30% 52.53%,
      32% 50.29%,
      34% 48.03%,
      36% 45.75%,
      38% 43.47%,
      40% 41.21%,
      42% 39%,
      44% 36.83%,
      46% 34.74%,
      48% 32.73%,
      50% 30.83%,
      52% 29.04%,
      54% 27.39%,
      56% 25.88%,
      58% 24.53%,
      60% 23.34%,
      62% 22.34%,
      64% 21.51%,
      66% 20.87%,
      68% 20.43%,
      70% 20.19%,
      72% 20.14%,
      74% 20.3%,
      76% 20.66%,
      78% 21.21%,
      80% 21.96%,
      82% 22.89%,
      84% 24%,
      86% 25.28%,
      88% 26.73%,
      90% 28.32%,
      92% 30.05%,
      94% 31.9%,
      96% 33.87%,
      98% 35.92%,
      100% 38.06%
    );
  }
  .clip4 {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 11.67%,
      2.22% 11.54%,
      4.44% 11.18%,
      6.67% 10.58%,
      8.89% 9.79%,
      11.11% 8.83%,
      13.33% 7.75%,
      15.56% 6.59%,
      17.78% 5.41%,
      20% 4.25%,
      22.22% 3.17%,
      24.44% 2.21%,
      26.67% 1.42%,
      28.89% 0.82%,
      31.11% 0.46%,
      33.33% 0.33%,
      35.56% 0.46%,
      37.78% 0.82%,
      40% 1.42%,
      42.22% 2.21%,
      44.44% 3.17%,
      46.67% 4.25%,
      48.89% 5.41%,
      51.11% 6.59%,
      53.33% 7.75%,
      55.56% 8.83%,
      57.78% 9.79%,
      60% 10.58%,
      62.22% 11.18%,
      64.44% 11.54%,
      66.67% 11.67%,
      68.89% 11.54%,
      71.11% 11.18%,
      73.33% 10.58%,
      75.56% 9.79%,
      77.78% 8.83%,
      80% 7.75%,
      82.22% 6.59%,
      84.44% 5.41%,
      86.67% 4.25%,
      88.89% 3.17%,
      91.11% 2.21%,
      93.33% 1.42%,
      95.56% 0.82%,
      97.78% 0.46%,
      100% 0.33%
    );
  }
  .clip5 {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 3.68%,
      2.5% 3.91%,
      5% 4.21%,
      7.5% 4.58%,
      10% 4.99%,
      12.5% 5.43%,
      15% 5.88%,
      17.5% 6.32%,
      20% 6.74%,
      22.5% 7.11%,
      25% 7.42%,
      27.5% 7.66%,
      30% 7.82%,
      32.5% 7.88%,
      35% 7.86%,
      37.5% 7.75%,
      40% 7.55%,
      42.5% 7.27%,
      45% 6.93%,
      47.5% 6.53%,
      50% 6.1%,
      52.5% 5.65%,
      55% 5.2%,
      57.5% 4.78%,
      60% 4.39%,
      62.5% 4.05%,
      65% 3.78%,
      67.5% 3.59%,
      70% 3.49%,
      72.5% 3.48%,
      75% 3.56%,
      77.5% 3.72%,
      80% 3.97%,
      82.5% 4.29%,
      85% 4.67%,
      87.5% 5.09%,
      90% 5.53%,
      92.5% 5.98%,
      95% 6.42%,
      97.5% 6.83%,
      100% 7.18%
    );
  }
  .clip6 {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 39.83%,
      2% 39.74%,
      4% 39.49%,
      6% 39.09%,
      8% 38.53%,
      10% 37.83%,
      12% 37.01%,
      14% 36.09%,
      16% 35.09%,
      18% 34.03%,
      20% 32.93%,
      22% 31.82%,
      24% 30.73%,
      26% 29.67%,
      28% 28.68%,
      30% 27.78%,
      32% 26.98%,
      34% 26.3%,
      36% 25.77%,
      38% 25.39%,
      40% 25.17%,
      42% 25.11%,
      44% 25.22%,
      46% 25.5%,
      48% 25.93%,
      50% 26.51%,
      52% 27.23%,
      54% 28.07%,
      56% 29%,
      58% 30.02%,
      60% 31.09%,
      62% 32.19%,
      64% 33.3%,
      66% 34.39%,
      68% 35.43%,
      70% 36.41%,
      72% 37.3%,
      74% 38.08%,
      76% 38.73%,
      78% 39.24%,
      80% 39.6%,
      82% 39.79%,
      84% 39.82%,
      86% 39.68%,
      88% 39.38%,
      90% 38.92%,
      92% 38.31%,
      94% 37.57%,
      96% 36.72%,
      98% 35.77%,
      100% 34.74%
    );
  }
  .clip6Inverse {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 39.83%,
      2% 39.74%,
      4% 39.49%,
      6% 39.09%,
      8% 38.53%,
      10% 37.83%,
      12% 37.01%,
      14% 36.09%,
      16% 35.09%,
      18% 34.03%,
      20% 32.93%,
      22% 31.82%,
      24% 30.73%,
      26% 29.67%,
      28% 28.68%,
      30% 27.78%,
      32% 26.98%,
      34% 26.3%,
      36% 25.77%,
      38% 25.39%,
      40% 25.17%,
      42% 25.11%,
      44% 25.22%,
      46% 25.5%,
      48% 25.93%,
      50% 26.51%,
      52% 27.23%,
      54% 28.07%,
      56% 29%,
      58% 30.02%,
      60% 31.09%,
      62% 32.19%,
      64% 33.3%,
      66% 34.39%,
      68% 35.43%,
      70% 36.41%,
      72% 37.3%,
      74% 38.08%,
      76% 38.73%,
      78% 39.24%,
      80% 39.6%,
      82% 39.79%,
      84% 39.82%,
      86% 39.68%,
      88% 39.38%,
      90% 38.92%,
      92% 38.31%,
      94% 37.57%,
      96% 36.72%,
      98% 35.77%,
      100% 34.74%
    );
  }
  .outline-title {
    font-family: "summerVibesSolid";
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 50px;
  }
}
